langchain
openai
langchain-openai
langchain-experimental
slack_sdk
nltk
rouge
PyPDF2
pymupdf
psycopg2-binary
pgvector
tiktoken
python-dotenv
backoff
sentence-transformers 
faiss-cpu 
rank_bm25
PyMuPDF
bs4
sacrebleu
rouge_score
bert_score
pytesseract
pdf2image
markdown
